form {
    display: flex;
    flex-direction: column;
    width: 350px;
    font-family: 'IBM Plex Sans', 'Arial', 'sans-serif'
}

.error {
    border: 1px solid red;
}

.valid {
    border: 1px solid green;
}